{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Parol esdan chiqdimi?{% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h2>Parolingiz esdan chiqdimi?</h2>
            <p>Emailingizni kiriting biz sizga qo'llanma yuboramiz</p>
            <form action="" method="post">
                {% csrf_token %}
                {{form|crispy}}
            <button type="submit" class="btn btn-warning">Tiklash</button>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>
{% endblock content %}